**/dev/**
**/*.nii
**/*.nii.gz
.vscode/**
**/*.joblib
**/__pycache__
**/log*
**/.Rhistory
**/archive*
**/scratch*
**/*.pickle
**/*.RDS
data*/*
manuscript/data/*
data/simulation/*
data/demographics/*

!/data/csv/
!/data/csv/*.RDS
!/data/simulation/
!/data/simulation/*.RDS
!/data/demographics
!/data/demographics/demographics*
!/data/head2head
!/data/head2head/*
